body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.navbar {
  margin-inline: 20px;
}

.navbar .navbar-brand {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.navbar .nav-link {
  font-family: "Barlow", sans-serif;
  color: white !important;
  margin-inline: 10px;
}

.navbar .special {
  color: black !important;
  background-color: white;
  border-radius: 20px;
  padding: 0.6rem 1.2rem !important;
}

.headerContainer {
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  text-align: center;
}

.headerContainer .headerText {
  font-family: "Fraunces", serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

#div2 {
  background-image: url("./images/desktop/image-transform.jpg");
  background-size: cover;
  background-position: center;
}

#div3 {
  background-image: url("./images/desktop/image-stand-out.jpg");
  background-size: cover;
  background-position: center;
}

#div5 {
  background-image: url("./images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-position: center;
}

#div6 {
  background-image: url("./images/desktop/image-photography.jpg");
  background-size: cover;
  background-position: center;
}

.contentContainer .pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.contentContainer .headingType1 {
  font-family: "Fraunces", serif;
  margin-bottom: 0.8rem;
  width: 100%;
}

.contentContainer .headingType2 {
  font-family: "Fraunces", serif;
  margin-top: 18rem;
  color: #25564b;
  width: 100%;
}

.contentContainer .content {
  width: 100%;
  min-height: 70vh;
  text-align: left;
  padding-inline: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentContainer .content p {
  color: #19536b;
}

.contentContainer .content a {
  font-family: "Fraunces", serif;
  text-decoration: none;
  text-align: left;
  color: black;
  width: 100%;
}

.contentContainer .content a:hover {
  text-decoration: underline;
}

.testimonialsSection h5 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  color: #818498;
  letter-spacing: 5px;
  margin-block: 5rem 2rem;
}

.testimonialsSection .testimonialsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  place-items: baseline;
  margin-inline: 15%;
}

.testimonialsSection .testimonial {
  text-align: center;
}

.testimonialsSection .testimonial img {
  border-radius: 50%;
  width: 65px;
  margin-block: 20px;
}

.testimonialsSection .testimonial h6 {
  margin-top: 2rem;
  font-family: "Fraunces", serif;
  font-size: 16px;
}

.testimonialsSection .testimonial .designation {
  font-family: "Fraunces", serif;
  color: #818498;
  font-size: 14px;
}

.imagesSection {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  width: 100%;
  place-items: center;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
}

.imagesSection img {
  width: 100%;
}

.contactSection {
  background-color: #76bcae;
  padding-bottom: 3rem;
}

.contactSection h4 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-block: 3.5rem 2rem;
  letter-spacing: 1px;
  color: #25564b;
}

.contactSection .words {
  font-family: "Barlow", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  color: #25564b;
  cursor: pointer;
  padding-bottom: 10px;
}

.contactSection .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  color: #25564b;
  cursor: pointer;
}

.navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0.15rem !important;
          box-shadow: 0 0 0 0.15rem !important;
}

@media (max-width: 1100px) {
  .testimonialsContainer {
    margin-inline: 10% !important;
  }
}

@media (max-width: 950) {
  .testimonialsContainer {
    margin-inline: 5% !important;
  }
}

@media (max-width: 850px) {
  .testimonialsContainer {
    -ms-grid-columns: (minmax(0, 1fr))[1] !important;
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    row-gap: 3rem !important;
    margin-inline: 20% !important;
  }
  .contentContainer {
    -ms-grid-columns: (minmax(0, 1fr))[1] !important;
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .imagesSection {
    -ms-grid-columns: (minmax(0, 1fr))[2] !important;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .pair {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .content {
    padding-inline: 20% !important;
  }
  .pair1 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
}
/*# sourceMappingURL=index.css.map */